@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Base HTML Styles */

:root {
    --brand:  #fff1d8;
    --action: #eeeee7;
    --highlight: #D1BF6F;
    --white: #ffffff;
    --base-light: #f1f1ed;
    --base-dark: #212D31;
    --black: #111111;

    --padding-base:8px;
    --padding-medium: calc(var(--padding-base)*2);
    --padding-large: calc(var(--padding-base)*4);
    --padding-xl: calc(var(--padding-base)*6);
}

#navbar {
    display: flex;
    font-family: "Courier Prime", monospace;
    font-size: large;
    font-weight: bold;
    justify-content: space-around;
    align-items: center;
    padding: var(--padding-medium);
    background-color: var(--brand);
}

.underline {
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
}

.text-center {
    text-align: center;
}

body {
    font-family: "Courier Prime", monospace;
}

h1 {
    display: flex;
    font-family: "Courier Prime", monospace;
    font-size: xx-large;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}

h2 {
    display: flex;
    font-family: "Courier Prime", monospace;
    font-size: x-large;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}

h3 {
    font-family: "Courier Prime", monospace;
}

/* Hover state */
nav a:hover {
    background-color: #58d41e;
}

